<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle"> Aqui será colocado o Calendario</mat-card-subtitle>
</mat-card>

<mat-card class="principal mat-elevation-z8">

    <div class="card-container">
        <mat-card class="calendario mat-elevation-z8">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </mat-card>

        <mat-card class="interaction mat-elevation-z8">
            <mat-card-title class="title">Interação</mat-card-title>

            <button mat-raised-button color="primary" (click)="navegarAdicionaEvento()">Adicionar Evento</button>
        </mat-card>
    </div>
</mat-card>