<mat-card class="home mat-elevation-z8">
    <mat-card-title>Deletar Produto</mat-card-title>
</mat-card>

<mat-card class="deleta mat-elevation-z8">
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome"[value]="produto.nome" name="nome" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Valor"[value]="produto.valor" name="valor" disabled>
        </mat-form-field>
        
    </form>


    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="deletaProduto()"> Excluir </button>
        <button mat-raised-button color="warn" (click)="cancela()"> Cancelar </button>
    </mat-card-actions>
</mat-card>
