<mat-card class="home mat-elevation-z8">
    <mat-card-title>Novo Produto</mat-card-title>
</mat-card>

<mat-card class="create mat-elevation-z8">
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome"[(ngModel)]="produto.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Valor"[(ngModel)]="produto.valor" name="valor">
        </mat-form-field>
        
    </form>


    <mat-card-actions>
        <button mat-raised-button color="primary" (click) ="criaProduto(produto)"> Salvar </button>
        <button mat-raised-button color="warn" (click) ="cancela()"> Cancelar </button>
    </mat-card-actions>
</mat-card>

