.home{
    margin: 1.4rem;
    padding: .5rem;
}

.atualiza{
    margin: 1.4rem;
    padding: .5rem;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 15px;
}